<div class="cont">
  <div class="stats-modal-background"></div>
  <!-- <p>The statistics modal works!</p> -->
  <!-- <p>The statistics modal works!</p> -->
  <div class="stats-modal container-fluid">
    <div class="stats-modal-content p-3 p-md-4">
        <div class="stats-modal-content-header">
            <p>სტატისტიკა</p>
            <mat-icon (click)="closeStatsModal() ">close</mat-icon>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">კინოთეატრი</th>
                  <th scope="col">პროდუქტების ჯამური რაოდენობა</th>
                  <th scope="col">ჯამური საფასური</th>
                  <th scope="col">ოპერაციები</th>
                </tr>
              </thead>
              <tbody>   
                <tr *ngFor="let location of locationStats; let index = index">
                  <th scope="row">{{index + 1}}</th>
                  <ng-container *ngIf="nameFlags[index]; else showLocationName">
                    <td class="location-update-cell">
                      <input type="text" class="form-control location-update-input"
                       [(ngModel)]="updatedLocationName" (keydown.enter)="updateLocation(location.id)">
                    </td>
                  </ng-container>

                  <ng-template #showLocationName>
                    <td>{{location.name}}</td>
                  </ng-template>
                   
                  <td>{{location.totalItems}}</td>
                  <td>{{location.totalPrice}}</td>
                  <td class="operations-table-cell">
                    <div class="ops-wrapper">
                      <mat-icon (click)="toggleLocationUpdate(location.id)">edit_square</mat-icon>
                      <a class="btn btn-danger btn-sm" (click)="deleteLocation(location.id)">წაშლა</a>  
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>

      <div class="add-btn-container">
        <ng-container *ngIf="showAddModal">
          <div class="location-addition-modal border">
            <div class="location-addition-modal-content">
              <input type="text" class="location-addition-modal-input border" placeholder="ლოკაციის სახელი"
              [(ngModel)]="newLocationName">
              <button class="btn btn-primary btn-success" (click)="addNewLocation()">დამატება</button>
            </div>
          </div>
        </ng-container>

        <div class="btn btn-success add-button" (click)="toggleAdditionMmodal(true)">+</div>
      </div>
    </div>
  </div> 
</div>
