.stats-modal-background {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.stats-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  padding: 1rem;
  z-index: 1000;
  width: 500px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 12px;

  .stats-modal-content {
    .stats-modal-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        mat-icon {
            cursor: pointer;
        }
    }
  }
}

