<div class="cont">
    <div class="container text-center mt-4">
        <div class="d-flex justify-content-start mb-4">
            <a class="btn btn-success mb-3" href="/add">+ დამატება</a>
        </div>
        <div class="row g-4">  
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of items">
                <div class="card h-100">
                    <img src="images/cover.jpg" class="card-img-top" alt="Cover image">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.location}}</p>
                        <p class="card-text">{{item.price}}</p>
                        <a class="btn btn-danger">წაშლა</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
