<div class="cont">
    <div class="p-5 border rounded shadow-sm hover-shadow responsive-width">
        <form [formGroup]="addForm" (ngSubmit)="addNewItem()">
            <div class="d-flex flex-column flex-sm-row align-items-responsive gap-3 mb-3">
                <label for="locationSelect" class="form-label">ადგილმდებარეობა</label>
                <!-- Inline styling is applied to this select element to make sure that
                     it doesn't shrink while data is loading 
                -->
                <ng-container *ngIf="locations.length !== 0; else showEmptySelect">
                    <select name="locationSelect" class="form-select" formControlName="location">
                        <div *ngFor="let location of locations" >
                            <option [value]="location.name">{{location.name}}</option>
                        </div>
                    </select>
                </ng-container>

                <ng-template #showEmptySelect>
                    <select name="emptySelect" class="form-select">
                        <option>ლოკაციები ვერ მოიძებნა</option>
                    </select>
                </ng-template>
            </div>

            <!--
                This error message is here just for safety measures, 
                since the user will probably never get this error because none of the select element's options are empty 
            -->
            <p class="errMsg">
                {{addForm.get('location')?.invalid && addForm.get('location')?.touched? 
                'გთხოვთ აირჩიოთ ადგილმდებარეობა.' : ''}}
            </p>

            <div class="d-flex flex-column gap-2 mb-3">
                <label for="itemName">სახელი</label>
                <input type="text" id="formName" class="form-control" placeholder="შეიყვანეთ სახელი" formControlName="name">
            </div>

            <p class="errMsg">
                {{addForm.get('name')?.invalid && addForm.get('name')?.touched ? nameErrors : ''}}
            </p>

            <div class="d-flex flex-column mb-3">
                <label for="itemPrice" class="form-label">ფასი</label>
                <input type="number" id="itemPrice" class="form-control" placeholder="შეიყვანეთ ფასი" min="0" step="0.01" 
                formControlName="price">
            </div>

            <p class="errMsg">
                {{addForm.get('price')?.invalid && addForm.get('price')?.touched? 'გთხოვთ შეიყვანოთ ნივთის ფასი.' : ''}}
            </p>

            <button type="submit" class="custom-btn-bg bigger-padding mt-4">დამატება</button>
        </form>
        <p class="errMsg backendErr">{{gotError ? errMsg : ''}}</p>
        <ng-container *ngIf="addSuccess && !gotError; else showEmpty">
            <div class="successMsgContainer">
                <mat-icon>task_alt</mat-icon>
                <p class="successMsg">{{successMsg}}</p>  
            </div>
        </ng-container>

        <ng-template #showEmpty>
            <p></p>
        </ng-template>

          
    </div>
</div>